@import "../../index.scss";
.menu{
    width: 280px;
    margin-top: 8px;
    margin-left: 12px;
    height: 98vh;
}
.projeto-menu{
    @include felxCenter(row, center, baseline);
    height: 9%;
    background-color: white;
    margin-bottom: 5%;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
    p{
        font-size: 24px;
        font-weight: 700;
        margin-right: 25%;
        margin-left: 10%;
        background-color: white;
    }
    button{
        @include btnNoBorder(35px, 35px, #3F61C7, #3651a1);
    }

}
.btn-colaborador{
    @include btnNoBorder(100%, 80px, #3F61C7, #3651a1);
    height: 80px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 5%;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
}
.lista-projetos{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 80%;
    background-color: white;
    @include felxCenter(column, center, baseline);

    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
    button{
        @include btnNoBorder(100%, 65px, white, #f2f2f2);
        width: 100%;
        min-height: 65px;
        color: black;
        border-radius: 0;
        font-size: 20px;
        &:hover{
            border-right: 5px solid #3F61C7;
            transition: none;
        }
    }
}