@import "../../index.scss";
.new-fila{
    margin-right: 50px;
    button{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        @include felxCenter(row, center, center);
        @include widheig(35px, 35px); 
        border: none;
        border-radius: 6px;
        background-color: #6E83E0;
        color: white;
        font-size: 38px;
        font-weight: 700;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover{
            transition: 0.2s;
            background-color: #3651a1;
        }
        &:last-child{
            background-color: red;
            font-size: 26px;
        }
        &:last-child:hover{
            background-color: rgb(187, 4, 4);
            transition: 0.2s;
        }
    }
}
.conteiner-filas{
    @include felxCenter(row, baseline, baseline);
    @include widheig(99.1vh, 79%); 
    margin-left: 5%;
    margin-top: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    .fila{
        @include filaContent(#6E83E0, #778CEC, #6E83E0,#3651a1); 
    }
    .fila-doing{
        @include filaContent(#F17B27, #FA802A, #F17B27,#FA802A); 
    }
    .fila-finish{
        @include filaContent(#45C8C7, #46BAB9, #45C8C7,#46BAB9); 
    }
}
