@import '../../index.scss';

.backgroundStyle{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 10000;
    .contentStyle{
        @include felxCenter(column, center, center);
        @include widheig(40%, 60%); 
        @include contentModal(20px, #A8A8A8);
        .title-modal{
            @include felxCenter(row, baseline, baseline);
            color: white;
            width: 95%;
            height: 35%;
            text-align: center;
            span{
                @include felxCenter(row, center, baseline);
                float: left;
            }
            svg{
                font-size: 48px;
                margin-right: 35px;
            }
            h1{
                margin-top: 8px;
                font-size: 26px;
            }
            button{
                @include felxCenter(row, center, center);
                @include widheig(30px, 30px);
                position: absolute;
                left: 40%;
                top: 1%;
                background-color: #EDEDED;
                border: none;
                width: 30px;
                height: 30px;
                border-radius: 10px;
                color: #A8A8A8;
                font-weight: 700;
                font-size: 20px;
                &:hover{
                    transform: scale(1.1);
                    transition: 0.2s;
                    cursor: pointer;
                }
            }
        }
        form{
            @include widheig(40%, 80%);
        }
        label{
            @include felxCenter(column, baseline, baseline);
            color: white;
            input{
                @include widheig(45px, 100%); 
                border: none;
                border-radius: 12px;
            }
            p{
                margin-bottom: 10px;
            }
        }
        button{
            @include widheig(40px, 40px);
            @include felxCenter(row, center, center);
            margin-left: 50%;
            margin-top: 4%;
            background-color: #EDEDED;
            border: 1px solid red;
            border: none;
            border-radius: 10px;
            color: #A8A8A8;
            font-weight: 700;
            font-size: 40px;
            &:hover{
                transform: scale(1.1);
                transition: 0.2s;
                cursor: pointer;
            }
        }
    }
    .deleteConteiner{
        @include felxCenter(column, center, center);
        @include widheig(40%, 40%); 
        @include contentModal(10px, white);
        p{
            font-size: 28px;
            font-weight: 500;
            span{
                font-weight: 700;
                color: red;
            }
        }
        .buttons-delete{
            @include buttonsDelete();
        }
        .buttons-delete-tarefa{
            @include buttonsDelete();
        }
    }
    .content-tarefa{
        @include showTarefaContent(#6E83E0);
    }
    .content-tarefa-doing{
        @include showTarefaContent(#F17B27);
    }
    .content-tarefa-finish{
        @include showTarefaContent(#45C8C7);
    }
    .tarefa-conteiner{
        @include tarefaAddModal(#6E83E0);
    }
    .tarefa-conteiner-doing{
        @include tarefaAddModal(#F17B27);
    }
    .tarefa-conteiner-finish{
        @include tarefaAddModal(#45C8C7);
    }
    
    .contentAleterFila{
        @include felxCenter(column, center, baseline);
        @include widheig(40%, 60%); 
        @include contentModal(20px, #A8A8A8);
        .title{
            @include widheig(15%, 100%);
            @include felxCenter(row, center, center);
            margin-top: 10px;
            background-color: transparent;
            box-shadow: none;
            h1{
                font-size: 36px;
            }
        }
        form{
            width: 100%;
            height: 70%;
            @include felxCenter(row, center, center);
            select{
                @include widheig(40px, 80%);
            }
            button{
                top: 70%;
                @include widheig(45px, 20%);
                background-color: #868686;
                border: 2px solid white
            }
            button:hover{
                background-color: white;
                border: 2px solid #868686;
                color: #868686;
            }
        }
        .btn-close{
            @include widheig(50px, 50px);
            background-color: #A8A8A8;
            &:hover{
                background-color: #868686;
            }
        }
    }
}