@import "../../index.scss";
.conteiner{
    @include felxCenter(row, baseline, center);
    @include widheig(98.8vh, 79%); 
}
.list-colaboradores{
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    margin-right: 15%;
    margin-top: 8%;
    max-height: 85%;
    .colaborador{
        @include felxCenter(column, center, center);
        min-height: 110px;
        width: 100%;
        background-color: white;
        margin-top: 5%;
        border-radius: 15px;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        h3{
            background-color: white;
            font-size: 22px;
        }
        p{
            margin-top: 3%;
            background-color: white;
            font-size: 16px;
            font-weight: 700;
        }
        &:hover{
            background-color: #f2f2f2;
            transform: scale(1.05);
            transition: 0.2s;
        }
    }
}
.title{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    @include felxCenter(row, center, baseline);
    @include widheig(50px, 360px);
    border-radius: 12px;
    background-color: #6E83E0;
    color: white;
    svg{
        font-size: 32px;
        margin-left: 3%;
        margin-right: 5%;
    }
    h2{
        font-size: 20px;
        font-weight: 500;
        color: white;
        border-radius: 8px;
    }
}
.add-colaborador{
    
    @include widheig(32%, 40%);
    margin-top: 8%;
    border-radius: 15px;
    background-color: #6E83E0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    .title{
        width: 100%;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
    .colab-form{
        @include felxCenter(column, center, center);
        margin-top: 5%;
        width: 100%;
        background-color: #6E83E0;
        label{
            background-color: #6E83E0;
            margin-top: 2%;
            p{
                background-color: #6E83E0;
                color: white;
                font-size: 14px;
            }
            input{
                @include widheig(35px, 400px);
                border: none;
                border-radius: 10px;
            }
        }
        button{
            @include felxCenter(column, center, center);
            @include widheig(35px, 35px);
            position: absolute;
            top: 48%;
            border: none;
            border-radius: 6px;
            background-color: #6E83E0;
            color: white;
            font-size: 38px;
            font-weight: 700;
            cursor: pointer;
            &:hover{
                transition: 0.2s;
                background-color: #3651a1;
            }
        }
    }
}